@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "MonsieurLaDoulaise";
  src: url("public/fonts/MonsieurLaDoulaise-Regular.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ballet";
  src: url("public/fonts/Ballet-Regular-VariableFont_opsz.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Parisienne";
  src: url("public/fonts/Parisienne-Regular.ttf") format("woff2");
  font-display: swap;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica;
}

.font-script {
  font-family: "Parisienne", cursive;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@import "tailwindcss/forms";
@import "preline/dist/variants.css";
