@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Blosta Script";
  src: url("/fonts/BlostaScript.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@import "tailwindcss/forms";
@import "preline/dist/variants.css";
@import "tailwindcss/forms";
@import "preline/dist/variants.css";
